{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% tailwind_css %}
  </head>
  <body>
    <nav>
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <h1>Credits: {{ credits|default:"No credits available" }}</h1>
      <h1>User: {{ user|default:"No user information" }}</h1>
      <h1 class="text-3xl font-bold bg-red-500">hello world</h1>

      <a href="{% url 'signout' %}">Logout</a>
    </nav>
  </body>
</html>
